<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DreamMortgage</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuditorServlet</servlet-name>
    <servlet-class>com.dm.servlets.AuditorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditorServlet</servlet-name>
    <url-pattern>/auditor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.dm.servlets.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>com.dm.servlets.BankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrokerageServlet</servlet-name>
    <servlet-class>com.dm.servlets.BrokerageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrokerageServlet</servlet-name>
    <url-pattern>/brokerage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CityCouncilServlet</servlet-name>
    <servlet-class>com.dm.servlets.CityCouncilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityCouncilServlet</servlet-name>
    <url-pattern>/citycouncil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FederalReserveServlet</servlet-name>
    <servlet-class>com.dm.servlets.FederalReserveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FederalReserveServlet</servlet-name>
    <url-pattern>/federalreserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartnerBankServlet</servlet-name>
    <servlet-class>com.dm.servlets.PartnerBankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartnerBankServlet</servlet-name>
    <url-pattern>/partnerbank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SecuritizationServlet</servlet-name>
    <servlet-class>com.dm.servlets.SecuritizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecuritizationServlet</servlet-name>
    <url-pattern>/securitization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceProviderServlet</servlet-name>
    <servlet-class>com.dm.servlets.ServiceProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceProviderServlet</servlet-name>
    <url-pattern>/serviceprovider</url-pattern>
  </servlet-mapping>
</web-app>